::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar:hover {
    transition-duration: .4s;
    width: .6em;
}

::-webkit-scrollbar-track {
    background: no-repeat linear-gradient(to bottom, rgb(89, 0, 229), rgb(189, 0, 0));
}

::-webkit-scrollbar-thumb {
    background: rgb(89, 0, 229);
}

::-webkit-scrollbar-thumb:hover {
    transition-duration: .4s;
    background: rgb(89, 0, 229);
}

@font-face {
    font-family: contact;
    src: url("../fonts/Audiowide-Regular.ttf");
}

@font-face {
    font-family: arkBold;
    src: url("../fonts/ArkitechBold.ttf");
}

@font-face {
    font-family: arkLight;
    src: url("../fonts/ArkitechLight.ttf");
}

@font-face {
    font-family: arkMedium;
    src: url("../fonts/ArkitechMedium.ttf");
}

body {
    height: 100%;
    transition-duration: .3s;
    margin: 0;
    min-height: 100vh;
    background: no-repeat linear-gradient(to bottom, rgb(0, 0, 102), rgb(89, 0, 229));
    background-repeat: no-repeat;
}

header {
    font-size: 1em;
    color: rgb(232, 232, 232);
    font-family: arkMedium;
    margin: 1em 1em;
    word-wrap: break-word;
}

#embed_site {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.click_to_embed {
    position: relative;
}

.click_to_embed img {
    background-color: white;
    width: 100%;
    height: auto;
    cursor: pointer;
    transition-duration: .3s;
}

span.hovered_img {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    color: rgb(232, 232, 232);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    font-family: arkMedium;
}

#embeds {
    display: none;
    z-index: 3;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.embeded_site {
    display: none;
    z-index: 4;
    height: 70vh;
    width: 0vw;
    position: sticky;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: white;
    transition: all .5s;
}

footer {
    position: sticky;
    top: 95vh;
}

#contact_email {
    margin-left: .5em;
    transition-duration: .4s;
    color: rgb(232, 232, 232);
    font-family: contact;
    text-decoration: none;
}

#contact_email:hover {
    transition-duration: .4s;
    color: rgb(22, 22, 22);
    margin-left: 10px;
}

@media (max-width: 768px) {
    #embed_site {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    header {
        font-size: .6em;
    }

}
